@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;800;900&family=Inter:wght@700;900&family=Lora:ital,wght@0,400;0,700;1,400;1,700&family=Sora:wght@700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;800&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Mukta", sans-serif;
    
  }
  body{
      background-color: #0b0224;
      overflow-x: hidden;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  
.nav {
    top: 0;
    height: 4rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
    margin: 2rem 10px;
    font-size: 12px;
    font-weight: 700;
    color: rgb(220, 248, 255);
    margin-top: 1rem;
  }

  .nav_link {
    display: flex;
    font-weight: 300;
    font-size: 17px;
    color: rgb(215, 221, 223);
    position: relative;
    padding: 5px 0;
    overflow: hidden;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.3s;
    margin: 0 0.8rem;
    cursor: pointer;
  }
  .nav_link::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 100%;
    width: 50%;
    height: 2px;
    background: rgb(16, 140, 156);
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  .nav_link::after {
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    width: 50%;
    height: 2px;
    background: rgb(16, 140, 156);
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  .nav_link:hover {
    color: rgb(16, 140, 156);
  }
  .nav_link:hover::before {
    right: 0;
  }
  .nav_link:hover::after {
    left: 0;
  }
  
.side {
display: none;

}


.head{
    display: none;
}

.head h5{
width: 12rem;
height: 2.5rem;
color: #fff;
background-color:rgb(13, 141, 173);
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
margin: 0 1rem;
border-radius: 10px;
padding: 0.5rem;
text-align: center;
}
.bus {
      background-color: rgb(245, 244, 252);
      width: auto;
      margin-left: 0;
      margin: 0.2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0.7rem;
      border-radius: 10px;
      cursor: pointer;
  }
.details {
    width: 6.5rem;
    height: 5rem;
    background-color:none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 0.5rem 0.1rem;
    border-radius: 10px;
    padding: 0.3rem;
    text-align: center;
    cursor: pointer;
    font-size: 15px;
}
.details h5 {
    font-size: 14px;
}

@media (min-width: 400px)
{
    .bus {
        width: auto;
    }
    .details {
        width: 7.5rem;
        height: 6rem;
       
        font-size: 15px;
    }
    .details h5 {
        font-size: 16.5px;
    } 
}
@media (min-width: 600px){
    .bus {

        margin: 1rem;
        display: flex;
        flex-direction: row;
    
    }
  .details {
      width: 7rem;
      height: 7rem;    
      margin: 0.5rem 0.1rem;
  
  }  
  .head{
    background-color: none;
    margin: 0.1rem;
    display: flex;
    padding: 0.7rem;
    border-radius: 10px;
}
.head h5{
  width: 7rem;
  height: 3.5rem; 
  margin: 0 0.25rem;
}
}
  @media (min-width: 768px){
    .bus {
        margin: 1rem;
        padding: 0.7rem;
    }
  .details {
      width: 9rem;
      height: 8rem;
      font-size: 20px;
    
  } 
  .details h5 {
    font-size: 20px;
}
 

.head h5{
  width: 8.5rem;
  height: 3.5rem;
  color: #fff;
  background-color:rgb(13, 141, 173);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 0 0.55rem;
  border-radius: 10px;
  padding: 0.5rem;
  text-align: center;
}
  }
  @media (min-width: 1024px){
    .side {
        background-color: rgb(245, 244, 252);
          width: 20%;
          margin: 0.02rem;
          border-radius: 10px;
          display: flex;
          flex-direction: column;
          padding: 1.5rem;
          cursor: pointer;
    }  
    .head{
     margin: 1rem;   
  }
  .head h5{
    width: 8rem;
    height: 3.5rem; 
    margin: 0 1rem;
  }
    .bus {         
          margin: 1rem;
          display: flex;
          padding: 0.7rem;
      }
    .details {
        width: 9rem;
        height: 8rem;
        margin: 0 0.5rem;
        padding: 5px;
        border-radius: 10px;
       
    }
    
  }
  @media (min-width: 1280px){
    .side {
        
          width: 45%;
          margin: 0.05rem;
        
    }  
    .head{
        background-color: none;
        margin: 1rem;
        display: flex;
        padding: 0.7rem;
        border-radius: 10px;
    }
    .head h5{
      width: 12rem;
      height: 2.5rem;
      margin: 0 0.8rem;
    }
      .bus {
           
            margin: 0.8rem;
            display: flex;
            padding: 0.7rem;
            border-radius: 10px;
            cursor: pointer;
        }
      .details {
          width: 12rem;
          height: 8rem;
          background-color:none;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          margin: 0 0.8rem;
          font-size: 20px;
        
      }
      .details h5 {
        font-size: 21px;
    }
    
  }
  @media (min-width: 1400px){}
  @media (min-width: 1536px){
    .side {
        background-color: rgb(245, 244, 252);
          width: 15%;
          margin: 1rem;
          border-radius: 10px;
          display: flex;
          flex-direction: column;
          padding: 1.5rem;
          cursor: pointer;
    }  
    .head{
      background-color: none;
      margin: 1rem;
      display: flex;
      padding: 0.7rem;
      border-radius: 10px;
  }
  .head h5{
    width: 12rem;
    height: 2.5rem;
    color: #fff;
    background-color:rgb(13, 141, 173);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 0 1rem;
    border-radius: 10px;
    padding: 0.5rem;
    text-align: center;
  }
    .bus {
          background-color: rgb(245, 244, 252);
          margin: 1rem;
          display: flex;
          padding: 0.7rem;
          border-radius: 10px;
          cursor: pointer;
      }
    .details {
        width: 12rem;
        height: 7rem;
        background-color:none;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        margin: 0 1rem;
        border-radius: 10px;
        padding: 0.5rem;
        text-align: center;
        cursor: pointer;
    }
    .details:nth-child(2){
        display: flex;
        flex-direction: column;
        }
        .details:nth-child(3){
            display: flex;
        flex-direction: column;
        }
        .details:nth-child(4){
            display: flex;
            flex-direction: column;
        }
        .details:nth-child(5){
            display: flex;
        flex-direction: column;
        }
  }
  
