@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;800;900&family=Inter:wght@700;900&family=Lora:ital,wght@0,400;0,700;1,400;1,700&family=Sora:wght@700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;800&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Mukta", sans-serif;
    
  }
    footer {
      display: flex;
      flex-direction: column;     
      justify-content: center;
      padding-top: 2rem;
      align-items: center;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      background-color: #0b0224;
    }
    footer img {
      width: 40px;
      margin: 1rem 2rem;
    }
  
  body {
    background: url(./assets/m.jpg);
 
    justify-content: center;
    align-items: center;
    
  }
  html::-webkit-scrollbar{
    scroll-behavior: smooth;

  }
  .book{
    background-color: #fff;
    width: auto ;
    margin: 2rem 2rem;
    padding: 1rem;
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    position: relative;

  }
  
 .inputs {
   
   height: 6rem;
   cursor: pointer;
   font-size: 20px;
   margin: 5px 0;
   padding: 2px 5px;
   width: auto;
   border: none;
   border-radius: 10px;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
 }
 #date {
  width: 15rem;
}
#time {
  width: 15rem;
}

.check {

  border: none;
  width: 15rem;
  padding: 8px 0;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
  margin: 5px 0;
  cursor: pointer;
  background: linear-gradient(320deg,#3f00e6,#7f00fd)!important;;
}
.nav {
  top: 0;
  height: 4rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
  margin: 2rem 10px;
  font-size: 12px;
  font-weight: 700;
  color: rgb(220, 248, 255);
  margin-top: 3rem;
}

p {
  margin: 0 7px;
  text-align: center;
  color: #fff;
}

.nav_link {
  display: flex;
  font-weight: 300;
  font-size: 17px;
  color: rgb(215, 221, 223);
  position: relative;
  padding: 5px 0;
  overflow: hidden;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s;
  cursor: pointer;
}

.nav_link::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 100%;
  width: 50%;
  height: 2px;
  background: rgb(16, 140, 156);
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.nav_link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  width: 50%;
  height: 2px;
  background: rgb(16, 140, 156);
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.content {
 margin-top: 5rem;
 font-size: 25px;
 font-weight: 200;
 
}
.nav_link:hover {
  color: rgb(16, 140, 156);
}

.nav_link:hover::before {
  right: 0;
}

.nav_link:hover::after {
  left: 0;
}

#click {
  top: 105%;
}
#inner_nav {
  position: absolute;
  z-index: 99;
  top: 32%;
  width: auto;
  display: flex;
  justify-content: center;
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  align-items: center;
  margin: 2rem 0.5rem;
  cursor: pointer;
  
 }
 #inner_nav img {
   margin: 0.8rem 1rem;
   width: 30px;
 }
 .head {
  text-align: center;
  font-size: 40px;
  font-weight: 300;
  padding-top: 40px;
}
.eve_body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  margin-top: 7rem;
  width: auto;
  padding: 0 20px;
}
.eve_body img{
  width: 23rem;
 
}
.event_images img {
  width: 20rem;
}
.event_images {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  margin: 1.5rem 0.5rem;

}
.event_images .card {
  position: relative;
  background-color: rgb(13, 2, 44);
  height: 290px;
  width: 350px;
  margin: 30px 10px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in-out;
}

.event_images .card:hover {
  height: 400px;
}
.event_images .eventimg {
  position: relative;
  top: -60px;
}
.event_images .event_content {
  position: relative;
  color: #fff;
  margin-top: -50px;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.card:hover .event_content {
  visibility: visible;
  opacity: 1;
}


.spots {
  margin: 1rem 0.1rem;
   align-items: center;
 display: inline-block;
 justify-content: center;

 
}

.spots img {
  margin: 2rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border: solid 2px #fff;
}
  @media (min-width: 768px){
    .book{
      width: auto ;
      margin: 5rem 2rem;
      padding: 2rem;
      
    }
    
   .inputs { 
     height: 8rem;
     cursor: pointer;
     font-size: 25px;
     margin: 5px 0;
     padding: 2px 5px;
     width: auto;
     border: none;
     border-radius: 10px;
     box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   } 
    #date {
      width: 18rem;
    }
    #time {
      width: 18rem;
    }
   .division {
     display: flex;
     flex-direction: row;
   }
   .form-floating  {
    margin: 0 7px;
 
    
  }
  .nav_link {
    margin: 2px 20px;
  }
  #click {
    top: 100%;
  }
  #inner_nav {
    top: 36%;
   }
   #inner_nav img {
     margin: 0.8rem 1rem;
     width: 40px;
   }
   .spots {
    margin: 1rem 1rem;
 
   
  }
  }
  @media (min-width: 1024px){
    .content {
      margin-top: 5rem;
      font-size: 27px;
      
     }
     #head_line{
       font-size: 3rem;
     }
     #click {
      top: 105%;
    }
    #inner_nav {
      top: 40%;
     }
     .eve_body {
      display: flex;
      flex-direction: row;
  
      margin: 7rem 0;
      width: auto;
      padding: 0 20px;
    }
    .eve_body img{
      width: 45rem;
      margin: 1rem 0;
     
    }
    .spots {
      margin: 1rem 11px;

    }
    
    .spots img {
      margin: 0.5rem;
  
    }
  }
  @media (min-width: 1280px){
    .book{
  
      width: 95%;
      margin: 5rem 2rem;
      padding: 6rem 1rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
     
    }
    
   .inputs {
     height: 10rem;
     font-size: 26px;
     padding: 5px;
  
   }
   #date {
    width: auto;
  }
  #time {
    width: auto;
  }
  #number {
    width: 8rem;
  }
  #click {
    top: 90%;
  }
  #inner_nav img {
    margin: 0.8rem 1rem;
    width: 50px;
  }
  .head {
    text-align: center;
    font-size: 60px;
    font-weight: 300;
    padding-top: 40px;
  }
  .eve_body li {
    font-size: 20px;
 
   justify-content: center;
  
  }
  .eve_body {
    padding:0  10rem;
  }
  .spots {
    margin: 1rem 6rem;

  }
  
  .spots img {
    margin: 1rem;

  }
  }
  @media (min-width: 1400px){
    .inputs{
      font-size: 30px;
    }
    .content {
      margin-top: 5rem;
      font-size: 25px;
      font-weight: 200;
      
     }
     #head_line{
       font-size: 3.5rem;
     }
  
  }
  @media (min-width: 1536px){
     
   .book{
  
     width: auto;
     margin: 5rem 12rem;
     padding: 6rem 0;
     display: flex;
     flex-direction: row;
    
   }
   
  .inputs {
    height: 10rem;
    font-size: 24px;
    padding: 5px;
 
  }

  .form-floating  {
   margin: 0 10px;
 
   
 }
.spots{
    margin-left:15rem;

  }  

